* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    color: black;

}

/* INICIA MEDIA DE MAX 576 */
@media (max-width: 576px) {
    body {
        display: grid;
        grid-template-areas:
            "banner"
            "prod"
            "pie";
    }

    .productos {
        display: grid;
        grid-area: prod;
        grid-template-rows: 1fr 1fr;
        padding-top: 20px;
    }

    .menu ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: start;
        padding-left: 10px;
    }

    .menu li,
    a {
        text-decoration: none;
        padding: 5px;
        gap: 10px;
        font-size: 14px;

    }

    .conteiner img {
        width: 100px;
        height: auto;
    }

    .links i {
        font-size: 20px;
    }

    .principal {
        display: flex;
        flex-direction: column;
    }

    .producto {
        width: 205px;
        height: 370px;
        white-space: nowrap;
        overflow: hidden;
    }

    .producto img {
        width: 200px;
        height: auto;
        transition: transform 0.1s ease;
    }

    .producto img:hover {
        transform: scale(1.1);
    }

    .producto p {
        font-size: 12px;
        padding-top: 5px;
        margin: 0 5px;
    }

    .producto h2 {
        font-size: 14px;
        color: rgb(69, 66, 66);
        font-weight: 600;
        padding: 5px 0px;
        margin: 0 5px;
    }

    #mochilas {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    #carteras {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    #billeteras {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    button {
        background-color: rgb(242, 232, 217);
        padding: 10px 16px;
        margin: 10px 0;
        border: 1px solid rgb(69, 66, 66);
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }


    button:hover {
        background-color: rgb(230, 210, 180);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        font-weight: 600;
    }

    .footer {
        display: grid;
        grid-area: pie;
        width: 100%;
        height: auto;
        margin-top: 20px;
        background-color: rgb(242, 232, 217);
        font-size: 12px;
        padding-top: 10px;
    }

    .redes a {
        font-size: 18px;
        transition: transform 0.3s;
        display: inline-block;
    }

}

/* INICIA MEDIA DE MAX 768 */
@media (min-width: 576px) and (max-width: 768px) {
    body {
        display: grid;
        grid-template-areas:
            "banner"
            "prod"
            "pie";
    }

    .menu ul {
        list-style: none;
    }

    .menu li,
    a {
        text-decoration: none;
        font-size: 14px;
        padding: 10px 10px 5px 15px;

    }

    .conteiner img {
        width: 95px;
        height: auto;
    }

    .links i {
        font-size: 22px;
    }

    .principal {
        display: flex;
        flex-direction: row;
    }

    .productos {
        display: grid;
        grid-area: prod;
    }

    #mochilas {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        place-items: center;
    }

    #carteras {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        place-items: center;
    }

    #billeteras {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        place-items: center;
    }

    .producto {
        width: 200px;
        height: 370px;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

    .producto img {
        width: 200px;
        transition: transform 0.1s ease;
    }

    .producto img:hover {
        transform: scale(1.1);
    }

    .producto p {
        font-size: 12px;
        padding-top: 5px;
        margin: 0 5px;
    }

    .producto h2 {
        font-size: 14px;
        color: rgb(69, 66, 66);
        font-weight: 600;
        padding: 5px 0px;
        margin: 0 5px;
    }

    button {
        background-color: rgb(242, 232, 217);
        padding: 10px 16px;
        margin: 10px 0;
        border: 1px solid rgb(69, 66, 66);
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }


    button:hover {
        background-color: rgb(230, 210, 180);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        font-weight: 600;
    }


    .footer {
        display: grid;
        grid-area: pie;
        height: auto;
        background-color: rgb(242, 232, 217);
        font-size: 12px;
        margin-top: 20px;
        padding: 10px;
    }

    .redes a {
        font-size: 18px;
        transition: transform 0.3s;
        display: inline-block;
    }

}
/* INICIA MEDIA DE MIN 768 */
@media (min-width: 768px) and (max-width: 942px) {
  body {
        display: grid;
        grid-template-areas:
            "banner"
            "prod"
            "pie";
    }

    .menu ul {
        list-style: none;
    }

    .menu li,
    a {
        text-decoration: none;
        font-size: 16px;
        padding: 10px; 
    }

    .conteiner img {
        width: 120px;
        height: auto;
        padding: 10px;
    }

    .links i {
        font-size: 26px;
       padding-right: 25px;

    }

    .principal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .productos {
        display: grid;
        grid-area: prod;
    }

    #mochilas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        place-items: center;
    }

    #carteras {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        place-items: center;
        padding-top: 10px;
    }

    #billeteras {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        place-items: center;
        padding-top: 10px;
    }

    .producto {
        width: 300px;
        height: 480px;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

    .producto img {
        width: 270px;
        height: auto;
        transition: transform 0.1s ease;
    }

    .producto img:hover {
        transform: scale(1.1);
    }

    .producto p {
        font-size: 18px;
        padding-top: 8px;
        margin: 0 5px;
    }

    .producto h2 {
        font-size: 18px;
        color: rgb(69, 66, 66);
        font-weight: 600;
        padding-top: 7px;
        margin: 0 5px;
    }

    button {
        background-color: rgb(242, 232, 217);
        padding: 10px 16px;
        margin: 10px 0;
        border: 1px solid rgb(69, 66, 66);
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }


    button:hover {
        background-color: rgb(230, 210, 180);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        font-weight: 600;
    }

    .footer {
        display: grid;
        grid-area: pie;
        height: auto;
        background-color: rgb(242, 232, 217);
        font-size: 16px;
        margin-top: 20px;
        padding: 10px;
    }

    .redes a {
        font-size: 28px;
        padding-bottom: 5px;
        transition: transform 0.3s;
        display: inline-block;
    }

}

/* INICIA MEDIA DE MIN 942 */
@media (min-width: 942px) {
    body {
        display: grid;
        grid-template-areas:
            "banner"
            "prod"
            "pie";
    }

    .menu ul {
        list-style: none;
    }

    .menu li,
    a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px 0px 10px 0px;
    }

    .conteiner img {
        width: 120px;
        height: auto;
        padding-left: 65px;
    }

    .links i {
        font-size: 26px;
        padding: 10px;

    }

    .principal {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .productos {
        display: grid;
        grid-area: prod;
    }

    #mochilas {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        place-items: center;
    }

    #carteras {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        place-items: center;
        padding-top: 10px;
    }

    #billeteras {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        place-items: center;
        padding-top: 10px;
    }

    .producto {
        width: 300px;
        height: 480px;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
    }

    .producto img {
        width: 270px;
        height: auto;
        transition: transform 0.1s ease;
    }

    .producto img:hover {
        transform: scale(1.1);
    }

    .producto p {
        font-size: 18px;
        padding-top: 8px;
        margin: 0 5px;
    }

    .producto h2 {
        font-size: 18px;
        color: rgb(69, 66, 66);
        font-weight: 600;
        padding-top: 7px;
        margin: 0 5px;
    }

    button {
        background-color: rgb(242, 232, 217);
        padding: 10px 16px;
        margin: 10px 0;
        border: 1px solid rgb(69, 66, 66);
        border-radius: 5px;
        font-weight: 500;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
    }


    button:hover {
        background-color: rgb(230, 210, 180);
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
        font-weight: 600;
    }

    .footer {
        display: grid;
        grid-area: pie;
        height: auto;
        background-color: rgb(242, 232, 217);
        font-size: 16px;
        margin-top: 20px;
        padding: 10px;
    }

    .redes a {
        font-size: 28px;
        padding-bottom: 5px;
        transition: transform 0.3s;
        display: inline-block;
    }


}

header {
    display: grid;
    grid-area: banner;
}

.conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu a:hover {
    background-color: rgb(242, 232, 217);
    border-radius: 3px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    transform: scale(1.05);
    padding: 10px;
}

 .redes a:hover {
        transform: scale(1.5);
    }


.medial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.medial p {
    padding: 10px;
    text-align: center;
}